@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
a {
   color: white;
}
a:hover {
}
a:visited {
   color: white;
}
*/

.search-results {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}

.search-results.show {
  display: block;
}

main h4 {
    @apply text-2xl font-bold mb-2;
}
main p, main ul {
    @apply mb-6;
}

main a {
    @apply underline decoration-dotted decoration-gray-500 dark:decoration-gray-500 hover:bg-gray-100 dark:hover:bg-gray-800/50 transition-colors underline-offset-2;
}