{{template "header.html"}}

<h1>Sources</h1>

ChineseDict is grateful to use these sources of data:

- English definitions from CC-CEDICT
- HSK levels from [chinesetest.cn](https://www.chinesetest.cn/ChangeLan.do),
  compiled by [chinees-leren.nl](https://www.chinees-leren.nl/dictionary/).

<h1>Datasets</h1>

The above data sources are compiled along with manually updated information
into downloadable dictionary datasets. The total content size is around 30MB.

- [Download here](https://github.com/jeffcarp/chinesedict/releases).


{{template "footer.html"}}
