{{template "header.html"}}

<div id="results">
  <h1>Sources</h1>

  <p>ChineseDict is grateful to use these sources of data:</p>

  <ul>
    <li>English definitions from <a href="https://cc-cedict.org/wiki/">CC-CEDICT</a>.</li>
    <li>HSK levels from <a href="https://www.chinesetest.cn/ChangeLan.do">chinesetest.cn</a>, compiled by <a href="https://www.chinees-leren.nl/dictionary/">chinees-leren.nl</a>.</li>
  </ul>

  <h1>Dataset</h1>

  <p>The above data sources are compiled along with manually updated information
  into downloadable dictionary datasets. The total content size is around 30MB.
  <a href="https://github.com/jeffcarp/chinesedict/blob/main/data/dictionary.textproto">Download here</a>.
  </p>


</div>

{{template "footer.html"}}
