

    <footer>
      Dictionary data is provided by the wonderful <a href="https://cc-cedict.org/wiki/">CC-EDICT</a>.<br/>

      Provide feedback <a href="https://github.com/jeffcarp/chinesedict/issues/new">here</a>.<br/>
    </footer>
  </div>
</body>

<template id="search-result-li">
  <div>
      <div class="word">
        <a class="characters" href=""></a>
        <div class="definitions"></div>
        <div class="percentile-outer"><span class="percentile"></span></div>
      </div>
  </div>
</template>

<template id="word-segment">
  <span class="segment"></span>
</template>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-VF4JJW0F68"></script>
<script>
  if (!window.location.origin.includes('localhost')) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JGWNGNWF35');
  }
</script>

<!-- <script src="/main.js" type="module"></script> -->
</html>
