{{template "header.html"}}

<div id="results">

  <p><b>ChineseDict</b> is a fast Chinese-English dictionary.</p>

  <p>To get started, enter any Chinese text or English word in the search box.</p>

  <p>Examples:</p>

  <ul>
    <li>A word: <a href="/word/小狗">小狗</a></li>
    <li>English words: <a href="/results?q=news">news</a></li>
    <li>
      Tags:
      <a href="/tag/chengyu">#chengyu</a>,
      <a href="/tag/HSK1">HSK1</a>,
      <a href="/tag/HSK2">HSK2</a>,
      <a href="/tag/HSK3">HSK3</a>,
      <a href="/tag/HSK4">HSK4</a>,
      <a href="/tag/HSK5">HSK5</a>,
      <a href="/tag/HSK6">HSK6</a>,
    </li>
  </ul>

</div>

{{template "footer.html"}}
