{{template "header.html" .HeaderData}}

<h1>Tag: {{ .TagName }}</h1>

Entries: {{ len .Entries }} <br/>
<small style="color: #ccc;">(*pagination not supported yet, results capped at 500)</small>

<ul class="word-list">
{{range .Entries }}
  <li>
    <h3><b><a href="/word/{{.Traditional}}">{{.Traditional}}</a></b></h3>
    <div><small>{{ .Pinyin }}</small></div>
    <div>{{ range .Definitions }} {{ . }} / {{ end }}</div>
    <div><small>{{.Tags}}</small></div>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
