{{template "header.html" .HeaderData}}


<div id="results">

<div class="word-page">
  <section class="word-info">
    <div class="column">
      <h1 class="characters">
        <ruby>
          {{range .Characters  }}
            <span><a href="/word/{{ .Simplified }}">{{ .Simplified }}</a></span>
            <rt>{{ .Pinyin }}</rt>
          {{end}}
        </ruby>
      </h1>

      <h3>tags:</h3>
      <ul>
      {{range .Word.Tags }}
        <li><a href="/tag/{{.}}">{{.}}</a></li>
      {{end}}
      </ul>
    </div>
    <div class="column">
      <div class="definition">
        <ol>
          {{range .Word.Definitions }}
            <li>{{ . }}</li>
          {{ end }}
        </ol>
      </div>
    </div>
  </section>

  <section>
    <h2>Resources</h2>

    <ul>
      <li><a href="https://en.wiktionary.org/wiki/{{ .Word.Simplified }}">Wiktionary: {{ .Word.Simplified }}</a></li>
      <li><a href="https://www.mdbg.net/chinese/dictionary?wdqb={{ .Word.Simplified }}">MDBG: {{ .Word.Simplified }}</a></li>
      <li>Examples with {{ .Word.Simplified }} on <a href="https://tatoeba.org/en/sentences/search?from=cmn&query={{ .Word.Simplified }}&to=eng">Tatoeba</a></li>
    </ul>
  </section>

  <section>
    <h2>Examples</h2>

    {{range .Word.Examples }}
      <li>{{.}}</li>
    {{end}}
  </section>

</div>

</div>

{{template "footer.html"}}
