<p>ChineseDict is grateful to the following datasets:</p>

<ul>
  <li>English definitions from <a href="https://cc-cedict.org/wiki/">CC-CEDICT</a>.</li>
  <li>HSK levels from <a href="https://www.chinesetest.cn/ChangeLan.do">chinesetest.cn</a>, compiled by <a href="https://www.chinees-leren.nl/dictionary/">chinees-leren.nl</a>.</li>
  <li>Examples from <a href="https://tatoeba.org/">Tatoeba</a>.</li>
</ul>

<p>The above data sources are compiled along with manually updated information
into a downloadable dictionary dataset. The total content size is around 50MB.
<a href="https://github.com/jeffcarp/chinesedict/blob/main/data/dictionary.textproto">Download here</a>.
</p>
