<!doctype html>
<html>
<head>
  <title>Chinese Reader</title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <link rel="icon" type="image/png" href="/zhong.png" />
  <link rel="apple-touch-icon" href="/zhong-bg.png" />

  <!-- TODO
  <link rel="canonical" href="">
  -->
  <link rel="stylesheet" href="/main.css">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="/main.js" type="module"></script>
</head>
<body>
  <div
    v-cloak
    class="content"
    id="app">
    <!-- TODO: have a page if dict not downloaded -->
    <div class="column-left">

      <div v-if="!curArticle">
        <form @submit.prevent="querySubmit" class="search">
          <input
              type="text"
              name="q"
              placeholder="Enter any Chinese text or English word..."
              v-model="query"
           />
        </form>

        <div>
          <ol class="search-result-list">
            <li v-for="result in searchResults">
              <div class="result-word"><b>{{ result.traditional }} ({{ result.traditional }})</b></div>
              <div><small>{{ result.pinyin }}</small></div>
              <div>{{ result.definitions.join(' / ').slice(0, 100) }}</div>
              <div>
                <span v-for="tag in result.tags">{{ tag }}&nbsp;</span>
              </div>
            </li>
          </ol>

        </div>

        <div v-if="!searchResults">
          <h4>Pre-loaded articles</h4>

          <ol class="article-list">
            <li v-for="article in articles"
                v-on:click="curArticle = article">
              <div><b>{{ article.title }}</b></div>
              <div>difficulty: {{ article.difficulty }}</div>
            </li>
          </ol>
        </div>
      </div>

      <div v-if="curArticle">
        <article>
          <span v-on:click="curArticle = null"><- back</span>
          <h2>curArticle: {{ curArticle.title }}</h2>
          <span
            v-for="(seg, index) in curArticleWords"
            class="word"
            :class="{ selected: selectedIndex === index }"
            v-on:click="selectedIndex = index">
            {{ seg }}
          </span>
        </article>
      </div>

    </div>
    <div class="column-right">

      <div v-if="!selectedWord && !curArticle">
        <div>
          Dictionary status: ok
        </div>
      </div>

      <div v-if="!selectedWord && curArticle" class="definition">
        <div>
          Article stats
        </div>
        <div>
          Difficulty: {{ curArticleDifficulty }}
        </div>
      </div>

      <div v-if="selectedWord" class="definition">
        <div>
          <span v-on:click="selectedIndex = null">exit</span>
        </div>
        <h3>{{ selectedWord }}</h3>
        <div v-for="def in curDefinition" style="margin 0 0 1em;" class="definition">
          <div><small>{{ def.pinyin }}</small></div>
          <div>Percentile: {{ def.percentile }}</div>
          <div>{{ def.definitions }}</div>
        </div>
      </div>

    </div>
  </div>
</body>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-VF4JJW0F68"></script>
<script>
  if (!window.location.origin.includes('localhost')) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JGWNGNWF35');
  }
</script>

</html>
